* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-weight: 300;
}

body {
    background-color: #f0f4f8;
    font-family: 'Urbanist', sans-serif;
}

header {
    display: flex;
    background: #83a0b4;
    height: 120px;
    font-size: 30px;
    letter-spacing: 15px;
    align-items: center;
    justify-content: center;
}

a:link,
a:visited {
    text-decoration: none;
    color: #f0f4f8;
}

a:hover {
    color: #576772;
    transition: 0.5s;
}

p {
    color: #7c8a91;
    font-family: 'Urbanist', sans-serif;
    font-size: 17px;
}

footer {
    background-color: #83a0b4;
    color: #aec1ca;
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    padding: 20px;
    font-size: 20px;
    letter-spacing: 4px;
}

.nav {
    width: 1000px;
    margin: 150px auto;
}

.tabs ul {
    display: flex;
    justify-content: center;
    background: inherit;
}

.tabs ul li {
    width: 100%;
    padding: 3px;
    font-family: 'Dongle', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 3px;
    color: #aec1ca;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    margin: 0px 1px;
}

.tabs ul li:last-child {
    margin-right: 0;
}

.tabs ul li:first-child {
    margin-left: 0;
}

.tabs ul li:before {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    transition: all 0.3s ease;
    opacity: 0;
    margin: 3px 1px;
}

.tabs ul li:hover {
    background: #aec1ca;
    color: #f0f4f8;
    border-radius: 3px;
    margin: 3px 1px;
}

.tabs ul li.active {
    background: #aec1ca;
    color: #f0f4f8;
    border-radius: 3px;
    margin: 3px 1px;
}

.tabs ul li:hover:before,
.tabs ul li.active:before {
    opacity: 1;
}

.container {
    background: #f4f8fa;
    padding: 15px;
    border: 1px solid #aec1ca;
    border-radius: 3px;
}

.tab-wrap .title,
.tab-wrap .month-tabs {
    font-size: 35px;
    color: #aec1ca;
    margin-bottom: 5px;
    font-family: 'Dongle', sans-serif;
}

.tab-content p {
    margin-bottom: 15px;
    line-height: 15px;
}

.month-wrap {
    width: 100%;
}

.month-tabs ul {
    display: flex;
    flex-direction: column;
    background: #f4f8fa;
}

.month-tabs ul li {
    width: 15%;
    color: #aec1ca;
    letter-spacing: 3px;
    cursor: pointer;
    position: relative;
    transition: all 0.5s ease;
}

.month-tabs ul li:hover,
.month-tabs ul li.active {
    color: #83a0b4;
}

.month-tabs ul li:hover:before,
.month-tabs ul li.active:before {
    opacity: 1;
}

.flower-content p{
    margin-bottom: 15px;
    line-height: 15px;
}

.flower-wrap .flower-title {
    font-size: 35px;
    color: #7c8a91;
    margin-bottom: 5px;
    font-family: 'Dongle', sans-serif;
}