* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #f0f4f8;
    font-family: 'Urbanist', sans-serif;
}

h1 {
    color: #83a0b4;
    font-size: 3em;
    font-weight: 100;
    letter-spacing: 4px;
}

h2 {
    color: #83a0b4;
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 2px;
}

p {
    color: #7c8a91;
}

footer {
    color: #83a0b4;

}

.nav {
    width: 1300px;
    margin: 200px auto;
}

.tabs ul {
    display: flex;
    background: inherit;
    border: 1px solid #83a0b4;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin-bottom: 25px;
}

.tabs ul li {
    width: 100%;
    padding: 15px;
    font-family: 'Dongle', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 2px;
    color: #aec1ca;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
}


.tabs ul li:before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #aec1ca;
    transition: all 0.5s ease;
    opacity: 0;
}

.tabs ul li:hover,
.tabs ul li.active {
    background: #aec1ca;
    color: #f0f4f8;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.tabs ul li:hover:before,
.tabs ul li.active:before {
    opacity: 1;
}

.content {
    background: #f0f4f8;
    border: 1px solid #83a0b4;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px;
}

.month-tabs ul {
    display: flex;
    background: inherit;
    flex-direction: column;
}

.month-tabs ul li {
    width: 100%;
    font-size: 30px;
    padding: 5px;
}

.tab-wrap .title,
.tab-wrap .month-tabs {
    font-size: 35px;
    color: #aec1ca;
    margin-bottom: 5px;
    font-family: 'Dongle', sans-serif;
}

.tab-content p{
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 25px;
}