* {
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: #e4eaf0;
    font-family: 'Dongle', sans-serif;
}

h1 {
    color: #55575f;
    font-size: 75px;
    font-weight: 100;
    letter-spacing: 4px;
}

h2 {
    color: #8394b4;
    letter-spacing: 2px;
    font-size: 50px;
    font-weight: 100;
}

p {
    color: #55575f;
    font-family: 'Urbanist', sans-serif;
}

.nav {
    overflow: hidden;
    border:1px solid #d2dbe4;
}

