* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-weight: 100;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #f0f4f8;
}

a:hover {
    color: #576772;
    transition: 0.5s;
}

body {
    background-color: #f0f4f8;
    font-family: 'Urbanist', sans-serif;
}

/*The header and title area*/
header {
    background: #83a0b4;
    height: 120px;
    width: 100%;
    position: relative;
}

#Blossom {
    text-align: center;
    font-size: 3.5em;
    letter-spacing: 8px;
    padding: 15px;
}

/*The box containing both tabs and main content*/

.box {
    width: 1000px;
    height: fit-content;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 350px;
}

p,
label {
    color: #7c8a91;
    font-size: 1rem;
    line-height: 20px;
    margin-bottom: 15px;
}

footer {
    height: 100px;
    background-color: #83a0b4;
    width: 100%;
    color: #aec1ca;
    margin-top: 200px;
    position: absolute;
}

.links {
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.links div {
    padding: 30px;
}

 p#copyright {
    position: absolute;
    bottom: 5px;
    right: 20px;
    color: #aec1ca;
 }

/*Styles for the tabs*/

.tabs ul {
    display: flex;
    background: inherit;
    text-align: center;
}

.tabs ul li {
    width: 100%;
    height: fit-content;
    padding: 2px;
    font-family: 'Dongle', sans-serif;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #aec1ca;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    margin: 3px 1px;
    align-self: flex-end;
}

.tabs ul li:last-child {
    margin-right: 0;
}

.tabs ul li:first-child {
    margin-left: 0;
}

.tabs ul li:before {
    content: "";
    position: absolute;
    width: 100%;
    transition: all 0.3s ease;
    opacity: 0;
    margin: 3px 1px;
}

.tabs ul li:hover {
    background: #aec1ca;
    color: #f0f4f8;
    border-radius: 3px;
    margin: 3px 1px;
}

.tabs ul li.active {
    background: #aec1ca;
    color: #f0f4f8;
    border-radius: 3px;
    margin: 3px 1px;
}

.tabs ul li:hover:before,
.tabs ul li.active:before {
    opacity: 1;
}

/*The container where the main content is displayed*/
.container {
    background: #f4f8fa;
    border: 1px solid #aec1ca;
    padding: 15px;
    border-radius: 3px;
    height: fit-content;
}

/*Form style rules*/
form {
    width: 100%;
}

textarea,
textarea:focus {
    width: inherit;
    height: 120px;
    margin: 15px 0;
    padding: 3px;
    font-family: 'Urbanist', sans-serif;
    background-color: #f0f4f8;
    color: #7c8a91;
    resize: none;
    display: block;
    border: 1px solid #aec1ca;
    border-radius: 3px;
    outline: none;
}

input,
input:focus {
    width: 25%;
    border: 1px solid #aec1ca;
    border-radius: 3px;
    padding: 3px;
    margin: 15px 0;
    background-color: #f0f4f8;
    outline: none;
    font-family: 'Urbanist', sans-serif;

}

button {
    width: auto;
    background-color: #aec1ca;
    color: #f0f4f8;
    border: none;
    padding: 5px;
    margin: 15px 0;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

button[type=submit] {
    float: right;
}

button:hover {
    background-color: #f0f4f8;
    color: #7c8a91;
    transition: 0.3s ease;
}

button:focus {
    border: 1px solid #aec1ca;
    transition: 0s;
}

/*Style rules for the clickable months and their respective description*/

.tab-wrap .title,
.tab-wrap .month-tabs {
    font-size: 38px;
    color: #aec1ca;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

.title,
.flower-title,
.month-text {
    font-family: 'Dongle', sans-serif;
}

.tab-content {
    text-align: left;
}

.month-wrap {
    width: 100%;
}

.month-tabs ul {
    display: flex;
    flex-direction: column;
    background: #f4f8fa;
}

.month-tabs ul li {
    width: 15%;
    color: #aec1ca;
    font-size: 38px;
    letter-spacing: 2px;
    cursor: pointer;
    position: relative;
    transition: all 0.5s ease;
}

.month-tabs ul li:hover,
.month-tabs ul li.active {
    color: #83a0b4;
}

.month-tabs ul li:hover:before,
.month-tabs ul li.active:before {
    opacity: 1;
}

.flower-title {
    font-size: 33px;
    color: #7c8a91;
    margin-bottom: 5px;
    letter-spacing: 2px;
}




@media screen and (max-width: 1200px) {

    .box {
        width: 83%;
    }

}

@media screen and (max-width: 615px) {

    .box {
        width: 85%;
    }

    #copyright {
        font-size: x-small;
    }
}

@media screen and (max-width: 580px) {
  
    .box {
        width: 90%;
    }

}
