* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-weight: 100;
}

/*Removing all default link styles*/
a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #EAF2F3;
}

a:hover {
    color: #576772;
    transition: 0.5s;
}

/*Background colour and font used for everything but tabs, months and content titles*/

body {
    background-color: #f4f8fa;
    font-family: 'Urbanist', sans-serif;
}

/*Header and title area*/
header {
    background: #83a0b4;
    height: 120px;
    width: 100%;
    position: relative;
}

#Blossom {
    text-align: center;
    font-size: 3.5em;
    letter-spacing: 8px;
    padding: 15px;
}

/*Main content area/box*/
.box {
    width: 1000px;
    height: fit-content;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 350px;
}

/*The container that holds the text*/
.container {
    background: #f4f8fa;
    border: 1px solid #aec1ca;
    padding: 15px;
    border-radius: 3px;
    height: fit-content;
}

/*Styles for the tabs*/
.tabs ul {
    display: flex;
    background: inherit;
    text-align: center;
}

.tabs ul li {
    width: 100%;
    height: fit-content;
    padding: 2px;
    font-family: 'Dongle', sans-serif;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #aec1ca;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    margin: 3px 1px;
    align-self: flex-end;
}

.tabs ul li:last-child {
    margin-right: 0;
}

.tabs ul li:first-child {
    margin-left: 0;
}

.tabs ul li:before {
    content: "";
    position: absolute;
    width: 100%;
    transition: all 0.3s ease;
    opacity: 0;
    margin: 3px 1px;
}

.tabs ul li:hover {
    background: #aec1ca;
    color: #EAF2F3;
    border-radius: 3px;
    margin: 3px 1px;
}

.tabs ul li.active {
    background: #aec1ca;
    color: #EAF2F3;
    border-radius: 3px;
    margin: 3px 0px;
}

.tabs ul li:hover:before,
.tabs ul li.active:before {
    opacity: 1;
}

/*Style rules for tabs, months and their respective content*/
.tab-wrap .title,
.tab-wrap .month-tabs {
    font-size: 38px;
    color: #aec1ca;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

.title,
.flower-title,
.month-text {
    font-family: 'Dongle', sans-serif;
}

.tab-content {
    text-align: left;
}

.month-wrap {
    width: 100%;
}

.month-text {
    display: flex;
    flex-direction: column;
    background: #f4f8fa;
    width: 15%;
    color: #aec1ca;
    font-size: 38px;
    letter-spacing: 2px;
    cursor: pointer;
    position: relative;
    transition: all 0.5s ease;
}

.month-text:hover,
.month-text.active {
    color: #83a0b4;
}

.month-tabs:hover:before,
.month-tabs.active:before {
    opacity: 1;
}

.flower-title {
    font-size: 33px;
    color: #7c8a91;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

/*Form style rules*/
form {
    width: 100%;
}

textarea,
textarea:focus {
    width: inherit;
    height: 120px;
    margin: 15px 0;
    padding: 3px;
    font-family: 'Urbanist', sans-serif;
    background-color: #EAF2F3;
    color: #7c8a91;
    resize: none;
    display: block;
    border: 1px solid #aec1ca;
    border-radius: 3px;
    outline: none;
}

input,
input:focus {
    width: 25%;
    border: 1px solid #aec1ca;
    border-radius: 3px;
    padding: 3px;
    margin: 15px 0;
    background-color: #EAF2F3;
    outline: none;
    font-family: 'Urbanist', sans-serif;
    color: #7c8a91;
}

button {
    width: auto;
    background-color: #aec1ca;
    color: #EAF2F3;
    border: none;
    padding: 5px;
    margin: 10px;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

button[type=submit] {
    float: right;
}

button:hover {
    background-color: #EAF2F3;
    color: #7c8a91;
    transition: 0.3s ease;
}

button:focus {
    border: 1px solid #aec1ca;
    transition: 0s;
}

p,
label {
    color: #7c8a91;
    font-size: 1rem;
    line-height: 20px;
    margin-bottom: 15px;
}

/*Footer with social media links and copyright*/

footer {
    height: 100px;
    background-color: #83a0b4;
    width: 100%;
    margin-top: 200px;
    position: fixed;
    bottom: 0;
}


footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100px;
}
    

.footer-links li {
    padding: 50px;
    color: #aec1ca;
}

#copyright {
    display: flex;
    position: fixed;
    color: #EAF2F3;
    right: 10px;
    bottom: 0;
    align-content: center;
}

.copyright {
    color: #EAF2F3;
}

.iconoir-copyright {
    margin-right: 3px;
    margin-top: 1px;

}


/*Media Queries for large screens*/

@media screen and (max-width: 1200px) {

    .box {
        width: 83%;
    }

}

/*Media Queries for medium screens*/

@media screen and (max-width: 830px) {

    input {
        width: 80%;
        justify-self: center;
    }

    #copyright {
        font-size: small;
    }

}

@media screen and (max-width: 670px) {

    .box {
        width: 90%;
    }

    #copyright {
        font-size: x-small;
    }

    .footer-links li {
        padding: 35px;
    }

}

/*Media Queries for smaller screens*/

@media screen and (max-width: 580px) {

    .box {
        width: 95%;
    }

    .footer-links li {
        padding: 25px;
    }

}

/*Media Queries for very small screens*/

@media screen and (max-width: 390px) {

    .box {
        width: 95%;
    }

    .footer-links li {
        padding: 15px;
    }

    .tabs ul li {
        font-size: 10%;
    }

}